<!DOCTYPE HTML>
<html>
    <head>
        <title>About Us</title>
        <link rel="stylesheet" href="static/css/about_style.css">
    </head>
    
    <body>   
        <div id = "footer">
            <ul class = "footer">
                <li class="footer"><a href="{{ url_for('home') }}">Home</a></li>
                <li class="footer"><a href="{{ url_for('project') }}">Our Project</a></li>
                <li class="footer"><a href="{{ url_for('about') }}">About Us</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>About Us</h1>

            <div class="bio_vincent">
                <img alt="Vincent Bommier" src="https://scontent.ford1-1.fna.fbcdn.net/v/t1.0-9/11151069_1026513144026325_3372432986993730022_n.jpg?oh=c3d67775f926cff3db3bc8e9cc236911&oe=59275E3A">
                <h3>Vincent Bommier</h3>
                <p>vincentbommier2018@u.northwestern.edu</p>
                <br>
                <p>Major: Computer Science</p>
                <p>Hometown: Basking Ridge, NJ</p>
                <p>Favorite Color: #daa520</p>
                <p>Translates Everything Into Binary: yes</p>
                <p>Calls Sandwiches Hoagies: no</p>
            </div>
            <hr>
            <div class="bio_madhav">
                <img alt="Madhav Ghei" src="https://scontent.ford1-1.fna.fbcdn.net/v/t31.0-8/12716166_1223516584342625_8501036073682311724_o.jpg?oh=2b852eba45f9481c582d707d59b63afd&oe=5971EB59">
                <h3>Madhav Ghei</h3>
                <p>madhavghei2018@u.northwestern.edu</p>
                <br>
                <p>Major/Minor: Computer Science/Music Technology</p>
                <p>Hometown: Washington, DC</p>
                <p>Favorite Color: Black</p>
                <p>Puts Pineapple on Pizza: yes</p>
                <p>Could Stand to Learn More Assembly: no</p>
            </div> 
            <hr>
            <div class="bio_jeremy">
                <img alt="Jeremy Kaish" src="https://raw.githubusercontent.com/jkaish/Webcam-Images/master/IMG_3612%20(2).PNG">
                <h3>Jeremy Kaish</h3>
                <p>jeremykaish2018@u.northwestern.edu</p>
                <br>
                <p>Major/Minor: Computer Engineering/Spanish</p>
                <p>Hometown: West Windsor, NJ</p>
                <p>Favorite Color: Orange</p>
                <p>Has the Fanciest Restaurant in Bikini Bottom: yes</p>
                <p>Sucks Eggs: no</p>

            </div>
            <hr>
        </div>
    
    </body>



</html>